<!-- https://infomedialtd.github.io/angular2-materialize/#/Buttons -->
<!-- https://github.com/InfomediaLtd/angular2-materialize -->


<div class="container">

    <nav class="nav-extended  grey darken-3">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">CaseFlo</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html">Login</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="sass.html">Sass</a></li>
                <li><a href="badges.html">Components</a></li>
                <li><a href="collapsible.html">JavaScript</a></li>
            </ul>
        </div>
        <div class="nav-content">
            <ul class="tabs tabs-transparent">
                <li class="tab"><a href="#test1">DASHBOARD</a></li>
                <li class="tab"><a class="active" href="#test2">DO</a></li>
                <li class="tab "><a href="#test3">DISCUSS</a></li>
                <li class="tab"><a href="#test4">DELEGATE</a></li>
            </ul>
        </div>
    </nav>
    <div id="test1" class="col s12">Test 1</div>
    <div id="test2" class="col s12">

        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                <div class="collapsible-body"><span><a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a></span></div>
            </li>
        </ul>

    </div>
    <div id="test3" class="col s12">Test 3</div>
    <div id="test4" class="col s12">Test 4</div>

</div>